body {
    background:url(https://media.giphy.com/media/4yr4MpEIJg4DK/giphy.gif) 100%;
    position: absolute;
}

#hc {
    position: relative;
    left:350px;

}

#fight {
    position: absolute;
    height: 800px;


}

#one {
    position: relative;
    left: 550px;
    height: 200px;
    width: 200px;

}

#two {
    position: relative;
    left: 550px;
    height: 200px;
    width: 200px;

}

