#def {
    position: absolute;
}

#h{
    position: relative;
    top: 100px;
    left: 450px;
}

#tea{
    position: relative;
    bottom: 400px;
    right: 100px;
}

#one {
    position: relative;
    width: 200px;
    height: 200px;
    left: 570px;


}