#cry {
    position: relative;
    left: 150px;
    bottom: 550px;

}

#def {
    position: absolute;
}
#drink {
    height: 800px;
    position: drink;
    left: 150px;
    top: 80px;
    position: relative;

}

#one {
    position: relative;
    left: 300px;
    height: 200px;
    width: 200px;
    bottom: 550px;

}

#two {
    position: relative;
    left: 300px;
    height: 200px;
    width: 200px;
    bottom: 550px;

}

#three {
    position: relative;
    left: 300px;
    height: 200px;
    width: 200px;
    bottom: 550px;

}