body {
padding: 300px;
padding-left: 500px;
text-align: center;
background: url(https://media.giphy.com/media/26ybxiiIxi4NQfiJG/giphy.gif) 100%;
background-size: 2150px;
background-position: absolute;
}

#but {
    position: relative;
    bottom: 200px;
    left: 190px;
}

#one {
    width:165px;
    height:165px;
    float: left;
    position: relative;
    right: 310px;
    top: 480px; 
}

#two {
    position: relative;
    left: 130px;
    bottom: 290px;
    width: 670px;
    height: 400px;
}
h2 {
 font-size: 20px;
}
span {
background: #fd0;
}
